/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

/* Main */
.row-1 {
    width: 70%;
    margin: auto;
}
.img-hoover {
    display: none;
}
.window  {
    display: inline-block;
    position: relative;
    width: calc(100% / 3);
    padding: 20px 10px;
}
